.pagination {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 2rem 1rem;
}

p {
    color: white;
}

.form {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
}

.form label, .form input {
    flex-grow: 2;
    width: 100%;
    text-align: center;
}

.form button {
    margin-left: 1rem;
}