@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

:root {
    --primary: #ffe81f;
    --font-size: 16px;
    --font-star-wars: 'Poller One', cursive;
    --dark: #000000;
    --red: 	#d21c1c;
    --light: #ffffff;
}

body {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top;
    z-index: 0;
    color: var(--light);
    font-size: var(--font-size);
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    min-width: 125px;
    background: var(--primary);
    border: var(--primary);
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

p {
    color: inherit;
}

input {
    margin: 0;
    padding: .75rem 0;
    border: 0;
    outline: 0;
}

h2, {
    font-family: var(--font-star-wars);
    font-size: 2rem;
}

ul {
    list-style: none;
}

.container {
    max-width: 480px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}


/* HELPER FUNCTIONS */

.block {
    display: block;
}
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}


.search-results {
    border-radius: 50%;
    background: var(--red);
    padding: .25rem .75rem;
    font-weight: 600;
    font-size: 1.75rem;
    color: var(--light);
}

/* CARD COMPONENT */

.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    grid-auto-rows: minmax(280px,290px);
    grid-gap: 0.5rem;
    gap: 0.5rem;
}

.card {
    display: flex;
    height: 280px;
    min-width: 100%;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    background: linear-gradient(45deg,#221f22 36%,#666469);
    transition: .4s ease-out;
    position: relative;
    left: 0;
}

.card-inner {
    height: 100%;
    /* background: rgb(34,31,34); */
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    width: 100%;
  }
  
  .card-title {
    display: flex;
    justify-content: space-between;
  }
  
  .card li {
    margin: .5rem 0;
  }
  
  .card h2 {
    margin: 0;
    white-space:nowrap;
    font-size: 1.5rem;
    word-wrap: break-word;
  }
  

  @media (min-width: 1024px) {
    .cardGrid {
      height: 300px;
      max-width: 1140px;
      left: calc(50% - 300px);
      display: flex;
    }
    .card {
        min-width: 230px;
    }
    .card:not(:first-child) {
      margin-left: -137px;
    }
  
    .card:hover {
      transform: translateY(-20px);
      transition: 0.4s ease-out;
      z-index: 10;
    }
  
    .card:hover ~ .card {
      position: relative;
      left: 50px;
      transition: 0.4s ease-out;
    }
  }